# Middleware configuration
DATABASE_NAME=paintai
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SYNCHRONIZE=false

AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin

COMPOSE_PROFILES=
ENABLE_HTTPS=false
