server {
  listen 80;
  server_name _;
  resolver 127.0.0.11 ipv6=off valid=10s;

  location /api/ {
    set $api_upstream http://api:8000;
    proxy_pass $api_upstream;
  }

  location /console/api/ {
    set $api_upstream http://api:8000;
    proxy_pass $api_upstream;
  }

  location /v1/ {
    set $api_upstream http://api:8000;
    proxy_pass $api_upstream;
  }

  location /files/ {
    set $api_upstream http://api:8000;
    proxy_pass $api_upstream;
  }

  location /triggers/ {
    set $api_upstream http://api:8000;
    proxy_pass $api_upstream;
  }

  location /webhooks/9pay/ipn {
    set $billing_upstream http://billing-service:8001;
    proxy_pass $billing_upstream;
  }

  location / {
    set $web_upstream http://web:3000;
    proxy_pass $web_upstream;
  }
}
